# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ba9a63b92f5d892f0074dbe91e063f96df19e9f623a88eed64302b84e04977d629ca4f4d376fee132e0f9ea6b31ea0d3a96f060ad244984b95da656c52651769

test:
  secret_key_base: 8d0acc37df31a5efe091ec5167a813aece6f5a07c6f8f309b99704641550cba22812457cec3036d177318c57c26ba16c97122b3495766b91d00a897810651e87

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

